body {
    font-family: "MV Boli";
    /*background: url(../img/bg.png) repeat;*/
    background-color: #312F41;
}

.sidenav {
    margin-top: 2%;
    margin-left: 8%;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 15px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;

}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-top: 5%;
    width: 800px;
    margin-left: 20%; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}








html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;

    margin-bottom: 16px;
    padding: 0 8px;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: left;
}

.container234 {
    margin-bottom: 40px;
    margin-top: -4%;
    padding: 0 16px;
    width: 100%;
    float: left;
    height: 20%;
    max-height: 30%;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;


}

.title {
    color: grey;
}

/* .button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
} */

a.button8 {
    margin-top: 20%;
    display: inline-block;
    color: #FDA101;
    width: 100%;
    text-decoration: none;
    user-select: none;
    padding: .4em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 10px;
    transition: 0.2s;
    font-size: 17px;
}
a.button8:hover { background: rgba(255,255,255,.2); }
a.button8:active { background: white; }
.image{
    width: 25%;
    float: left;

}
.f{
    white-space: pre-wrap;
}
.logo-img{
    margin-left: 30%;
    width: 40%;
    border-radius: 50%;
}
.logo{
    margin-top: 40%;
    margin-bottom: 15px;
}
.g{
    color: #DCD1D1;
    font-size: 19px;
}
.p{
    color: #DCD1D1;
}
.e{
    width: 35px;
    height: 5px;
    background-color: #ACA8A8;
    margin: 6px 0;
    margin-left: 35%;

}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #1E1C1C;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-bottom: 40px;
}

form.example button:hover {
    background: #131146;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
.logo-img2{
    height: 10%;
    width: 10%;
    border-radius: 60%;
}





.sidenav2 {
    margin-right: 1%;
    margin-top: 2%;
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    float: left;
    top: 0;
    left: 75%;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 15px;
}

.sidenav2 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;

}

.sidenav2 a:hover {
    color: #f1f1f1;
}
.tabcontent2{

}






.logo1-img{
    margin-left: 30%;
    width: 30%;
    border-radius: 10px;
}


/* Style the tab content (and add height:100% for full page content) */
.tabcontent3 {
    margin-bottom: 20px;
    color: white;
    padding: 20px 40%;
    height: 10%;
}
.tabcontent4 {
    margin-bottom: 5px;
    color: white;
    padding: 20px 20px;
    height: 35%;
}
#Home {background-color: black;}
.header {
    margin-left: 20%;
    margin-right: 27%;
    padding: 80px;
    text-align: center;
    background: url(/static/image/kollektsiya-knig.jpg) repeat;
    border-radius: 24px;
    color: white;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
     margin-left:30%;
     background-color: #f1f1f1;
     color: black;
 }
.previous2 {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

/*.round {*/
/*    border-radius: 50%;*/
/*}*/
.kj{
    color:white;
    white-space: pre-wrap;
    font-family: "Times news Roman";
}
h2{color: #DCD1D1}
.footer {
    margin-left: 20%;
    margin-right: 27%;
    padding: 20px;
    text-align: center;
    background: #312F41;
    color: #ddd;

}
.hr-circle {
    margin: 20px 0;
    padding: 0;
    height: 0;
    border: none;
    border-width: 0 0 5px;
    border-style: solid;
    border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1" width="8" height="4"><circle fill="orange" cx="1" cy="0.5" r="0.5"></circle></svg>') 0 0 100% repeat;
    background-position: 50%;
    box-sizing: border-box;
    color: orange;
}