body {
    font-family: "MV Boli";
    /*background: url(../img/bg.png) repeat;*/
    background-color: #312F41;
}

.sidenav {
    margin-top: 2%;
    margin-left: 8%;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 15px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;

}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-top: 5%;
    width: 800px;
    margin-left: 20%; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}








html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;

    margin-bottom: 16px;
    padding: 0 8px;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: left;
}

.container {
    margin-top: -4%;
    padding: 0 16px;
    width: 75%;
    float: left;
    height: 20%;
    max-height: 30%;
    margin-bottom:20px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;


}

.title {
    color: grey;
}

/* .button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
} */

a.button8 {
    margin-top: 20%;
    display: inline-block;
    color: #FDA101;
    width: 100%;
    text-decoration: none;
    user-select: none;
    padding: .4em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 10px;
    transition: 0.2s;
    font-size: 17px;
}
a.button8:hover { background: rgba(255,255,255,.2); }
a.button8:active { background: white; }
.image{
    width: 25%;
    float: left;

}
.f{
    white-space: pre-wrap;
}
.logo-img{
    margin-left: 30%;
    width: 40%;
    border-radius: 50%;
}
.l1ogo-img{
    margin-left: 30%;
    width: 40%;
    border-radius: 50%;
}
.logo{
    margin-top: 40%;
    margin-bottom: 15px;
}
.g{
    color: #DCD1D1;
    font-size: 19px;
}
.p{
    color: #DCD1D1;
}
.e{
    width: 35px;
    height: 5px;
    background-color: #ACA8A8;
    margin: 6px 0;
    margin-left: 35%;

}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #1E1C1C;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-bottom: 40px;
}

form.example button:hover {
    background: #131146;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
.logo-img2{
    height: 10%;
    width: 10%;
    border-radius: 60%;
}





.sidenav2 {
    margin-right: 1%;
    margin-top: 2%;
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    float: left;
    top: 0;
    left: 75%;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 15px;
}

.sidenav2 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;

}

.sidenav2 a:hover {
    color: #f1f1f1;
}
.tabcontent2{

}






.logo1-img{
    margin-left: 30%;
    width: 30%;
    border-radius: 10px;
}


/* Style the tab content (and add height:100% for full page content) */
.tabcontent3 {
    margin-bottom: 20px;
    color: white;
    padding: 20px 20%;
    height: 10%;
}
.tabcontent4 {
    margin-bottom: 5px;
    color: white;
    padding: 20px 20px;
    height: 35%;
}
#Home {background-color: black;}


/* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}
.op{
    height: 70px;
    width: 780px;

    padding-left:2%;
    top: 0;
    background-color: #312F41;
    border-radius:24px;
    margin-bottom:24px;
}
.hj{
    color: #DCD1D1;

}

.vertical-menu {
    margin-top:75%;
    width: 800px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #312F41; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {

    background-color: black; /* Add a green color to the "active/current" link */
    color: white;
}
.err{
    color:#ccc;
    margin-top:40px;
    font-size: 25px;
    float:left;
    margin-left:120px;
}
.container {
    margin-top:10px;
    border-radius:3%;
    width:100%;
    padding: 16px;
    background-color: #312F41;
    color:white;
}

/* Full-width input fields */
input[type=text],input[type=file],input[type=date], input[type=password], input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,input[type=file]:focus,input[type=date]:focus, input[type=password]:focus, input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #312F41;
    text-align: center;
}
.dropbtn {
    margin-bottom: 20px;
    margin-left: 60%;
    background-color: #312F41;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 24px;
}

.dropbtn2 {
    margin-left: 50%;
    background-color: #312F41;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 24px;
}
.dropbtn3 {
    margin-left: 40%;
    background-color: #312F41;
    border-color: #111;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 24px;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
    border-color: #111;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-color: #111;
    z-index: 1;
}
.l1ogo-img{
    margin-left: 30%;
    width: 40%;
    border-radius: 50%;
}
.dropdown-content a {
    color: white;
    background-color: #111;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: black;}

.show {display: block;}
.footer {
    margin-left: 20%;
    margin-right: 27%;
    padding: 20px;
    text-align: center;
    background: #312F41;
    color: #ddd;

}
.hr-shelf {
    margin: -30px auto 10px;
    padding: 0;
    height: 50px;
    border: none;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    width: 95%;
}