body {
    font-family: "MV Boli";
    background-color: #312F41;
}

.sidenav {
    margin-top: 2%;
    margin-left: 8%;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 15px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;

}
.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-top: 5%;
    width: 800px;
    margin-left: 20%; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;

    margin-bottom: 16px;
    padding: 0 8px;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.card {
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: left;
}

.container {
    margin-top: -4%;
    padding: 0 16px;
    width: 75%;
    float: left;
    height: 20%;
    max-height: 30%;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;

}

.title {
    color: grey;
}

a.button8 {
    margin-top: 20%;
    display: inline-block;
    color: #FDA101;
    width: 100%;
    text-decoration: none;
    user-select: none;
    padding: .4em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 10px;
    transition: 0.2s;
    font-size: 17px;
}
a.button8:hover { background: rgba(255,255,255,.2); }
a.button8:active { background: white; }
.image{
    width: 25%;
    float: left;

}
.f{
    white-space: pre-wrap;
}
.logo-img{
    margin-left: 30%;
    width: 40%;
    border-radius: 50%;
}
.logo34-img{
    margin-left: 5%;
    width: 40%;
    border-radius: 50%;
}
.logo{
    margin-top: 40%;
    margin-bottom: 15px;
}
.g{
    color: #DCD1D1;
    font-size: 19px;
}
.p{
    font-size: 30px;
    color: #DCD1D1;
}
.e{
    width: 35px;
    height: 5px;
    background-color: #ACA8A8;
    margin: 6px 0;
    margin-left: 35%;

}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #1E1C1C;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-bottom: 40px;
}

form.example button:hover {
    background: #131146;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
.logo-img2{
    height: 10%;
    width: 10%;
    border-radius: 60%;
}


.sidenav2 {
    margin-right: 1%;
    margin-top: 2%;
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    float: left;
    top: 0;
    left: 75%;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 15px;
}

.sidenav2 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;

}

.sidenav2 a:hover {
    color: #f1f1f1;
}
.tabcontent2{

}
.pagination a {
    margin-top: 5px;
    margin-bottom: 10px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #FF7518;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
.ter{
    margin-left: 20%;
    margin-right: 20%;
}


.logo1-img{
    margin-left: 30%;
    width: 30%;
    border-radius: 10px;
}


/* Style the tab content (and add height:100% for full page content) */
.tabcontent3 {
    margin-bottom: 20px;
    color: white;
    padding: 20px 20%;
    height: 10%;
}
.tabcontent4 {
    margin-bottom: 5px;
    color: white;
    padding: 20px 20px;
    height: 35%;
}
#Home {background-color: black;}
.header {
    margin-left: 20%;
    margin-right: 27%;
    padding: 80px;
    text-align: center;
    background: url(/static/image/kollektsiya-knig.jpg) repeat;
    border-radius: 24px;
    color: white;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}


input[type=text], input[type=password], input[type=file],input[type=date], input[type=number]  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #111;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: 100%;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container3 {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    text-decoration:none;
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}




.dropbtn {
    margin-left: 60%;
    background-color: #312F41;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 24px;
}

.dropbtn2 {
    margin-left: 50%;
    background-color: #312F41;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 24px;
}
.dropbtn3 {
    margin-left: 40%;
    background-color: #312F41;
    border-color: #111;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 24px;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
    border-color: #111;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-color: #111;
    z-index: 1;
}
.l1ogo-img{
    margin-left: 30%;
    width: 40%;
    border-radius: 50%;
}
.dropdown-content a {
    color: white;
    background-color: #111;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: black;}

.show {display: block;}
.ip{
    font-size:20pt;
}
.op{
    height: 70px;
    width: 780px;
    padding-left:2%;
    top: 0;
    background-color: #312F41;
    border-radius:24px;
    margin-bottom:24px;
}
.oop{
    height: 70px;
    width: 780px;
    padding-left:2%;
    top: 0;
    background-color: #312F41;
    border-radius:24px;
    margin-bottom:24px;
}
.hj{
    color: #DCD1D1;
    margin-top: 30px;

}
.tyu{
    color:#f1f1f1;
}
.container12 {

    border-radius:3%;
    width:100%;
    padding: 16px;
    background-color: #312F41;
    color:white;
}
.previous {
    margin-left:40%;
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

/*.round {*/
/*    border-radius: 50%;*/
/*}*/
.hr-circle {
    margin: 20px 0;
    padding: 0;
    height: 0;
    border: none;
    border-width: 0 0 5px;
    border-style: solid;
    border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1" width="8" height="4"><circle fill="orange" cx="1" cy="0.5" r="0.5"></circle></svg>') 0 0 100% repeat;
    background-position: 50%;
    box-sizing: border-box;
    color: orange;
}

