.pagination a {
    margin-top: 5px;
    margin-bottom: 10px;
    color: whitesmoke;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #FF7518;
    color: white;
}

.pagination a:hover:not(.active) {background-color: black;}
.teer{
    margin-left: 30%;
    margin-right: 20%;
}